*{
  margin: 0;
  padding: 0;
  font-size: 15px
}
/* #username{
    width: 400px;
} */
/* ///////////////// COMMON STUFF ///////////////// */
.register, .login{
    margin-top: 10%;
    padding-right: 0;
    padding-left: 0;
}
.some-width{
  width: 500px;
}

/* ///////////////// NOTES PAGES ///////////////// */
.note-checkbox{
  margin-top: 10px;
  transform: scale(1.5);
   
}
.notes-body{
  display: none;
}
.completed-todos, .completed-todos-title{
  display: none;
}
/* ///////////////// TOOTLTIP FOR REGISTER PAGE ///////////////// */
.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
}

#error-message{
  color: red;
}

#completed-note-list{
  text-decoration: line-through;
}
#logout-button{
  margin-left: auto;
  padding: 0;
}

#new-note, #selected-category, #new-date, #note-button, #manage-category-button, #date-picker{
  border-radius: 15px;
}
#date-picker{
  border: 1px solid rgb(199, 198, 198);
}
input::-webkit-input-placeholder {
  text-align: center;
}
.cat-list{
  list-style: none;
}
/* .cat-list label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
.cat-list label:hover input ~ .checkmark{
  background-color: #ccc;
}
.cat-list label input:checked ~ .checkmark {
  background-color: #2196F3;
  border-radius: 50%;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.cat-list label input:checked ~ .checkmark:after {
  display: block;
}
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 20px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */

#manage-category-button{
  padding: 0;
  font-size: 14px;
  width: 70px;
  
}