*{
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
/* #username{
    width: 400px;
} */
/* ///////////////// COMMON STUFF ///////////////// */
.register, .login{
    margin-top: 10%;
    padding-right: 0;
    padding-left: 0;
}
.some-width{
  width: 500px;
}

/* ///////////////// NOTES PAGES ///////////////// */
.note-checkbox{
  margin-top: 10px;
  transform: scale(1.5);
   
}
.notes-body{
  display: none;
}
.completed-todos, .completed-todos-title{
  display: none;
}
.section-title{
  font-weight: 600;
}
/* ????????????????????????????? TODO CONTENT ???????????????????????? */
.printed-note{
  border-radius: 5px;
}
.active, .printed-note:hover{
  background: rgb(230, 230, 230);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
}

.todo-edit-button{
  font-size: 12px;
  padding-bottom: 0;
  padding-top: 0;
}

.user-par{
  display: inline-block;
  height: 25px;
  background: rgb(226, 225, 225);
  border-radius: 5px;
}
.user-par button {
  padding: 0;
  margin-bottom: 3px;
  color: rgb(190, 190, 190);
}
/* ///////////////// TOOTLTIP FOR REGISTER PAGE ///////////////// */
.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
}

#error-message{
  color: red;
}

#completed-note-list{
  text-decoration: line-through;
}
#logout-button{
  margin-left: auto;
  padding: 0;
}

#new-note, #selected-category, #new-date, #note-button, #manage-category-button, #date-picker, #new-note-description{
  border-radius: 15px;
}
#date-picker{
  border: 1px solid rgb(199, 198, 198);
  text-align: center;
}
input::-webkit-input-placeholder {
  text-align: center;
}
/* ??????????????????????? CHECKBOX STYLE ????????????????????????? */
.cat-list, .todo-list{
  list-style: none;
}

.check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}
.check-label:hover input ~ .checkmark{
  background-color: #ccc;
}
.check-label input:checked ~ .checkmark {
  
  border-radius: 50%;
  border: 1px solid black;
  
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-label input:checked ~ .checkmark:after {
  display: block;
 
}
.checkmark:after {
  left: 5px;
  /* top: 10px; */
  width: 9px;
  height: 16px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#manage-category-button{
  padding: 0;
  font-size: 14px;
  width: 70px;
  
}

.range-label, .range-input{
  width: 100%;
}

#color-box{
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 7.5px;
  z-index: 10;
  
}

#selected-category{
  text-align-last: center;
}


#match-list{
  width: 86.5%;
  position: absolute;
  z-index: 99;
}

.over{
  position: relative;
  z-index: 1000;
  background: rgb(214, 214, 214);
}
.over:hover {
  background: gray;
}


/* @keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem;
}


.rainbow::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -100%;
  top: -50%;
  width: 300%;
  height: 400%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  animation: rotate 4s linear infinite;
}

.rainbow::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

#share-button{
  animation: fun-color 4s infinite;
  color: white;
}

@keyframes fun-color {
  0% {background-color: hotpink;}
  10% {background-color: red;}
  20% {background-color: rgb(230, 165, 80);}
  30% {background-color: orange;}
  40% {background-color: yellow;}
  50% {background-color: green;}
  60% {background-color: rgb(54, 230, 38);}
  70% {background-color: turquoise;}
  80% {background-color: blue;}
  90% {background-color: indigo;}
  100% {background-color: violet;}
} */


