
/* #username{
    width: 400px;
} */
.register{
    margin-top: 10%;
}

/* ///////////////// TOOTLTIP ///////////////// */
.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent;
  }